<table class="table hoverable striped" style="width: 100%">
    <thead>
        <tr>
                <td>
                    Date
                </td>
               <td>
                    Fuel usage (liters)
                </td>
                <td>
                    Average Fuel Use (l/100)
                </td>
                <td>
                    Kilometers travelled
                </td>
        </tr>
    </thead>
    <tbody>
        {{#each trips}}
                <tr>
                    <td>
                        <a href="../trip?starttime={{StartTime}}">
                            {{fromNow StartTime}}
                        </a>
                    </td>
                   <td>
                        {{toPrecision Fuel 2}}
                    </td>
                    <td>
                        {{toPrecision AvgFuel 2}}
                    </td>
                    <td>
                        {{toPrecision Km 2}}
                    </td>
                </tr>
        {{/each}}
    </tbody>
</table>
